* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 1em;
  overflow: hidden;
  background: #ffffff; }

.stopwatch {
  width: 100%;
  line-height: 1;
  font-weight: 700; }

.divider {
  font-weight: 400; }

.small {
  font-size: .5em; }

.button {
  background: #ddd;
  padding: 10px 40px;
  border: 0;
  text-transform: uppercase;
  font-size: 16px; }

.button.active {
  background: #333;
  color: #fff; }

/*# sourceMappingURL=app.css.map */
